@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand-VariableFont_wght.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: clip;
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 10%);
  font-family: "Quicksand", Verdana, sans-serif;
}

canvas {
  position: absolute;
  display: block;
  // margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 0.8px;
  border-color: hsl(0, 0%, 85%);
  overflow: scroll;

  &:hover {
    cursor: none;
  }
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.cursor {
  position: fixed;
  box-shadow: 0 0 3px hsla(0, 0, 80%, 0.4);
  border-style: solid;
  border-width: 0.8px;
  border-color: hsl(0, 0%, 30%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  // padding: 50px;
  pointer-events: none;
}

.menu {
  position: fixed;
  top: 30px;
  left: 50px;
  transform: translateY(-50%);
  // width: 200px;
  height: 0;
  // z-index: 999;
}

.tool-settings {
  display: flex;
  background-color: hsl(0, 0%, 98%);
  // box-shadow: 4px 4px 6px hsla(0, 0%, 10%, 0.1);
  border: 0.8px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  padding: 60px;
  gap: 15px;
  margin-bottom: 20px;
  // height: 150px;
  // overflow-y: scroll;
}

.tool-select {
  display: flex;
  // background-color: hsl(0, 0%, 98%);
  // box-shadow: 2px 2px 6px hsla(0, 0%, 10%, 0.1);
  // border-radius: 10px;
  gap: 5px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  // padding: 10px;

  span {
    text-align: center;
    border-radius: 25px;
    border: 0.8px solid hsl(0, 0%, 80%);
    padding: 7px 20px 7px 20px;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      background-color: hsl(219, 100%, 92%);
      // color: hsl(0, 0%, 85%);
    }

    &:active {
      background-color: hsl(219, 100%, 88%);
    }
  }
}

.inactive-tool {
  flex: 1;
  background-color: hsl(0, 0%, 98%);
  // box-shadow: 2px 2px 9px hsl(0, 0%, 80%);
}

.active-tool {
  flex: 3;
  background-color: hsl(219, 100%, 92%);
  // box-shadow: 2px 2px 1px hsl(219, 100%, 88%);
}

.section {
  margin-bottom: 20px;
  width: 250px;
}

.title {
  display: flex;
  margin-bottom: 5px;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  // border: solid;
  // border-width: 0 0 0.8px 0;
  // border-color: #1a1a1a;
  cursor: pointer;
}

.colour-wheel-button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.8px;
  background-color: hsl(220, 100%, 30%);
  border-color: hsla(0, 0%, 10%, 0);
  // box-shadow: 4px 4px 0 hsl(0, 0%, 80%);
  margin: 10px 6px 15px auto;
  cursor: pointer;

  &:hover {
    border-color: hsl(0, 0%, 10%);
    // padding: 5px;
    // box-shadow: 3px 3px 0 hsl(0, 0%, 80%);
    // border-width: 5px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 5px;

  div {
    font-size: 0.9em;
    color: hsl(0, 0%, 25%);
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 120px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: hsl(0, 0%, 10%);
  border-radius: 0rem;
  height: 0.8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5.2px;
  background-color: hsl(0, 0%, 98%);
  border-style: solid;
  border-radius: 50%;
  border-width: 0.8px;
  border-color: hsl(0, 0%, 10%);
  height: 11px;
  width: 11px;
}

input[type="range"]::-moz-range-track {
  background-color: hsl(0, 0%, 10%);
  border-radius: 0rem;
  height: 0.8px;
}

input[type="range"]::-moz-range-thumb {
  background-color: hsl(0, 0%, 98%);
  border: none;
  border-style: solid;
  border-radius: 50%;
  border-width: 0.8px;
  border-color: hsl(0, 0%, 10%);
  height: 11px;
  width: 11px;
}

.content {
  overflow: hidden;
  // max-height: fit-content;
  // transition: all 1.5s;

  &.condense {
    max-height: 0;
    // transition: all 0.4s;
  }
}

svg {
  transition: all 0.25s;
  &.condense {
    transform: rotate(180deg);
  }
}
